*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 70%;
    position: relative;
    margin: 5px;
}
.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    
 }
   
 #item-0 {
    position: absolute;
    grid-row-start: 1;
    grid-column-start: 3;
    height: 300px;
    width: 1000px;
    margin-right: 500px;
    grid-row-end: 2;
    grid-column-end: 6;
    left: 40%;
    top: 1.8%;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 23px 20px 15px -15px rgba(0,0,0,0.24);
-moz-box-shadow: 23px 20px 15px -15px rgba(0,0,0,0.24);
box-shadow: 23px 20px 15px -15px rgba(0,0,0,0.24);
 }
#block1{
     flex: 7;
    height: 300px;
    background-image: linear-gradient(#ebf6d8,white);
   
 }
 .content{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
 }
 .content h2{
     font-size:70px;
     font-style: italic;
     margin-bottom: 40px;
     color: #88a348;
     position: absolute;
     top: 30%;
     left: 30%;
     bottom: 20px;
 }
 .content >p{
    font-size:40px;
    font-style: italic;
    margin-top :-40px;
    position: absolute;
     left: 45%;
     bottom: 20px;
     color: #c18e4a;
     top: 70%;
 }
 .content span{
     color: #614240;
 }
 #block2{
    flex: 3;
    height: 300px;
    background-image: linear-gradient(#f2eed1,white);
 }
 #item-1 {
 
    
    grid-row-start: 1;
    grid-column-start: 1;
    height: 600px;
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-1 img{
     height: 400px;
     width: 400px;
 }
 #item-2 {
 position: relative;
   
    grid-row-start: 2;
     left: 40%;
    grid-column-start: 3;
   top: 10%;
    grid-row-end: 5;
    grid-column-end: 6;
    width: 1000px;
    -webkit-box-shadow: 11px -7px 15px -7px rgba(0,0,0,0.31);
    -moz-box-shadow: 11px -7px 15px -7px rgba(0,0,0,0.31);
    box-shadow: 11px -7px 15px -7px rgba(0,0,0,0.31);
  
    
 }
 #item-3 {
 
    background-color: white; 
    grid-row-start: 3;
    grid-column-start: 1;
    height: 500px;
    position: absolute;
    top: 52%;
    width: 370px;
    grid-row-end: 5;
    grid-column-end: 3;
    background-image: linear-gradient(to right,rgb(244, 244, 244),white);

 }
 .topbar{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100px;
 flex-direction: column;
     position: relative;
     position: relative;
    
 }
.topbar img{
  height: 70px;
  width: 70px;
  margin: 10px;
  margin-top: 30px;
}
.topbar h2{
text-align: end;
position: absolute;
bottom: 15%;
left: 10%;
font-style: italic;
font-size: xx-large;
color: #a0b873;
}
hr{
    width: 80%;
}
#para{
   
}
p{
    flex: 8;
    margin-left: 20px;
    margin-top: 20px;
}
.image{
    flex: 2;
    
    position: relative;
    bottom: 10px;
   float: right;
   
}
#para img{
    width: 150px;
    height:150px;
}

#para_continue{
    margin-top: 20px;
    margin-left: 20px;
}
.side_wrap{
   position: relative;
    flex-direction: column;
    height: 500px;
}
.side_bar{
    position: absolute;
    top: 5%;
    left: 20%;
    
}
.menu{
    background-color: #f5f1e7;
    color: #aabe80;
    width: 250px;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    margin-bottom: 5px;
    background-image: linear-gradient(to top,#f5f1e7,white);
}
.menu img{
    width: 30px;
    height: 30px;
}
.nav{
    background-color: #f5f9ea;
    border-top: 2px dotted #e7dcc5;
    border-bottom: 2px dotted #e7dcc5;
    color:  #aabe80;
    margin-bottom: 20px;
    padding: 5px;
}
#block2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.block2_warp{
    margin-top:20px ;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block2_warp p{
    margin: 0;
    color: #a88980;
    margin-bottom: 20px;
}
.inuput{
    color: #d8dfb9;
    font-weight:bolder;
    width: 200px;
    
}
.inuput input{
    background-color: #edefdb;
    border: none;
    width: 200px;
    height: 20px;
}
.inuput span{
    color: #b0bc8f ;
}
#login{
    width: 200px;
   position: relative;
    height: 50px;
}
#login button{
    position: absolute;
   bottom: 0;
   right: 0;
   background-color: #e9f6d8;
   width: 50px;
   border: none;
   padding: 5px;
   border-right: 2px solid #e2e4e8;
   border-bottom: 2px solid #e2e4e8;
   color: #61655b;
   cursor: pointer;
}
#circle{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22px;
    height: 23px;
    border-radius: 50%;
    border: 4px solid #adadad;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-box-shadow: inset 10px 10px 13px -3px rgba(230,230,230,1);
-moz-box-shadow: inset 10px 10px 13px -3px rgba(230,230,230,1);
box-shadow: inset 10px 10px 13px -3px rgba(230,230,230,1);
}

