*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 100%;
    height: 150vh;
    background-color: black;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: #ffc604;
    display: flex;
    flex-direction: row;
}

.left{
    flex: 4;
    display: flex;
    justify-content: center;
   
}
.right{
    flex: 6;
    display: flex;
    flex-direction: row;

    align-items: center;
}
ul{
    display: flex;
    list-style: none;

}
li:hover{
    color: white;
}
ul > li{
    margin-left: 30px;
    font-size: small;
}
.details{
    position: absolute;
    left: 10%;
    height: 120vh;
    width: 150vh;
    background-color: #efefef;
   
}
.info{
    margin-top: 60px;
    height: 55vh;
    width: 150vh;
    background-color: white;
    
}
.info_cont{
    
    height: 60vh;
    
    display: flex;
    flex-direction: row;
}
.profile{
    flex:3;
    margin-left: 20px;
}
.image{
    margin: 10px;
    padding: 20px;
   
    width: 250px;
    height: 300px;
}
.image img{
    width: 270px;
    height: 300px;
}
.button{
    text-align: center;
     
}
.button > button{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: #ffc604;
    border: none;
    font-style: italic;
    margin-left: -40px;
}
.details1{
    flex: 7;
    height: 60vh;
    margin-top: 25px;

}
.details1{
    /* border: 1px solid black; */
    width: 65%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
    line-height: 1.3;
}
#my_name{
    color: #fec402;
    font-weight: bold;
}
.name p {
    font-weight: bold;
    margin-bottom: 10px;
}
h2{
    padding-top: 25px;
}
h4{
    padding-top: 10px ;
}
p{
    padding-top: 5px;
}
table {
    padding-top: 20px ;
    width: 100%;
}
table tr{
    padding: 40px;
    border: 1 px solid black;
}
td{
    padding: 3px;
    
}
.icons{
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    
    align-items: center;
    
}
.icons img,.cla{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.margin{
   padding-left: 80px;
}
.myskills{
height: 50vh;
width: 100%;

}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
   margin-top: 40px;
   margin-right: 40px;
    
}
.heading > h2{
    border: 2px solid black;
    width: 120px;
    height: 25px;
    padding: 15px;
  font-size: x-large;
}
.web{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    margin: 40px;
    margin-top: 5px;
    padding-left: 10px;
    margin-left: 10px;
}
.web div{
    width: 50%;
    margin-left: 85px;
}
.web div>p{
    width: 90%;
}
.levels{
    display: flex;
    flex-wrap: wrap;
     background-color: #efefef;
    padding: 5px;
    justify-content: space-around;
}
.bar_cont{
    width: 400px;
    height:40px;
    background-color: #efefef;
   margin: 5px;
}
.bar_cont p{

}
.bar{
    height: 20px;
    width: 400;
    background-color: #fec402;
    display: flex;
    flex-direction: row;

}

.yellow1{
    flex: 7;
    height: 20px;
    width: 400;
    background-color: #fec402;
    color: white;
    text-align: right;
}
.white1{
flex: 3;
height: 20px;
    width: 400;
    background-color: white;
}
.bar4{
    flex: 5;
}
.bar4{
    flex: 5;
}.bar5{
    flex: 4;
}.bar6{
    flex: 7;
}.bar7{
    flex: 9;
}.bar8{
    flex: 2;
}
.icon{
    width: 230px;
    height: 30px;
    margin: 10px 18px 5px 0px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
  
}
#fb{
    border-color:#8A99C4;
    color: #8A99C4;
}
#twitter{
    border-color:#6EC3F0;
    color: #6EC3F0;
}
#instagram{
    border-color:#C5AFAE;
    color: #C5AFAE;
}
#g+{
    border-color:#D1695D;
    color: #D1695D;
}
#linkedin{
    border-color:#467FC4;
    color: #467FC4;
}
#pinterest{
    border-color:#D54E5B;
    color: #D54E5B;
}
#skype{
    border-color:#82D6F5;
    color: #82D6F5;
}
#slack{
    border-color:#FD2B99;
    color: #FD2B99;
}
#basketball{
    border-color:#D2D8E8;
    color: #D2D8E8;
}
#podcast{
   border-color:#F6DAB2;
   color: #F6DAB2;
}
.fa-brands
{
    padding: 10px;
  padding-top: 6px;
}
@media only screen and (min-width: 768px) and (max-width: 900px) {

.container{
    position: relative;
    width: 150vh;
    height: 240vh;
    background-color:black;
}

.info{
    position: relative;
    margin-top: 60px;
    height: 90vh;
    width: 100%;
    background-color: white;
}
.details{

    position: absolute;
    left: 2.8%;
    height: 220vh;
    width: 140vh;
    background-color: #efefef;
   
}
.details1{
    position : absolute;
    top: 7%;
    left: 35%;
    font-size: x-large;
}
.info_cont{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.image{
    position: absolute;
    top: 8%;
    margin: 10px;
    padding: 20px;
   
    width: 250px;
    height: 300px;
}
.image img{
    width: 370px;
    height: 570px;
}
.button{
    position: absolute;
    top: 75%;
    left: 10%;
    text-align: center;
     
}
.right{
    margin-right: 15%;
}
nav{
    font-size: x-large;
}
nav li{
    font-size: x-large;
  
}
.myskills{
    height: 100vh;
    position: relative;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
   margin-top: 80px;
   margin-right: 80px;
    
}
.heading h2{
    height: 50px;
    width: 300px;
    font-size: 50px;
    padding: 5px;
    padding-left: 30px;
}
.web div {
  font-size: xx-large;
}
.levels{
    position: absolute;
    top: 40%;
    left: 2%;
}
.bar_cont{
    width: 500px;
    height: 50px;
}
.bar{
    height: 50px;
    width: 400px;
}
.yellow1{
    height: 30px;
}
.white1{
    height: 30px;
}
.bar{
    
    height: 30px;
}
}








